body {
    margin: 0px;
    font-family: MinecraftRegular;
    font-weight: 400;
    height: 100%;
    overflow-x: hidden;
    background-color: #302c2d;
    pointer-events: auto;
}

@font-face {
    font-family: MinecraftRegular;
    src: url("/ASSETS/MinecraftRegular.otf") format("opentype");
}


.header h2 {
    position: relative;
    margin: 0px;
    margin-left: 20px;
    color: white;
    line-height: 100px;
    font-size: 30px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #302c2d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-button {
    display: inline-block;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

.header-button:hover {
    filter: brightness(.8);
}

.search {
    width: 300px;
    height: 35px;
    border: 0;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    background-color: #fff8e77a;
    color: white;
    border-radius: 0;
    outline: none;
    margin-right: 45px;
}
.search:focus {
	outline-style: solid;
	outline-width: 2px;
	outline-color: white;
}

.search::placeholder {
	color: white;
}

option {
    color: black;
}





#bookshelf {
    width: 100%;
    background-image: url(../ASSETS/Library-1.png);
    min-height: calc(100vh - 135px);
}

.book {
    width: 20px;
    height: 95px;
    float: left;
    margin-left: 15px;
    cursor: pointer;
}

.book:hover {
    filter: brightness(.5);
}

#bookshelf::after {
    content: "";
    display: table;
    clear: both;
}

#bookDescriptionDiv {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 5px solid black;
    box-shadow: 5px 5px #0000005d;
    display: none;
}

#bookTitle {
    text-align: center;
    color: black;
}

#bookDescription {
    color: black;
    padding: 10px;
    padding-bottom: 50px;
}

.backtick-format {
    background-color: #f1cca2;
    padding: 2px;
}

#bookAuthor {
    text-align: center;
    bottom: 0px;
    color: black;
}

.sort-button {
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    cursor: pointer;
}

#shelf-sort {
    background-image: url(../ASSETS/sort-shelf-button.png);
    filter: contrast(2);
}

#block-sort {
    background-image: url(../ASSETS/sort-block-button.png);
    margin-left: 5px;
}

#blockshelf {
    width: 100%;
    margin: 10px auto;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.bookBlock {
    width: 220px;
    height: 310px;
    margin: 5px;
    background-color: #a93c39;
    border: 5px solid #5e343d;
    cursor: pointer;
    color: rgb(194, 194, 194);
}

.bookBlock p {
    padding: 3px;
    font-size: 13px
}

/*#bookreader {
    height: 650px;
    width: 70%;
    background-color: #FFF8E7;
    border: 5px solid #CBC5B9;
    position: fixed;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    pointer-events: auto;
    display: none;
}*/



@media (max-width: 600px) {
    .bookBlock {
        width: 165px;
        height: 220px;
    }
    .bookBlock p {
        padding: 3px;
        font-size: 11px
    }
    .bookBlock h2 {
        font-size: 16px
    }
    /*#bookreader {
        width: 95%;
    }*/
    .search {
        width: 250px;
    }
}



.bookBlock:hover {
    filter: brightness(.8);
}

.write-button img{
    width: 13px;
    height: 13px;
}


.book-container {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#title-container {
    position: relative;
    padding: 20px;
    background-color: #5e343d;
    color: #fff;
    border: 5px solid black;
}


.book-title {
    padding-right: 20px;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    word-wrap: break-word;
}

.book-author {
    margin: 0;
    font-size: 14px;
    text-decoration: underline;
}

.headerButton {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 35px;
    width: auto;
    cursor: pointer;
}

.savedButton {
	position: absolute;
	top: 20px;
	right: 80px;
	height: 35px;
	width: 35px;
	cursor: pointer;
	background-image: url('../ASSETS/saved.png');
	background-size: contain;
	background-repeat: no-repeat; 
	background-position: center;
}

.savedButton:hover {
    filter: brightness(.8);
}

.arrowButton {
    position: absolute;
    bottom: 20px;
    right: 100px;
    height: 35px;
    width: auto;
    cursor: pointer;
}

.arrowButton_left {
    position: absolute;
    bottom: 20px;
    left: 100px;
    height: 35px;
    width: auto;
    cursor: pointer;
    transform: scaleX(-1);
}

.arrowButton:hover, .arrowButton_left:hover {
    filter: brightness(0.8);
}

.description-container {
    position: relative;
    max-height: 60%;
    overflow-y: auto;
    padding: 20px;
    margin-top: 20px;
}

.book-description {
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    color: #333;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #555; 
}

::-webkit-scrollbar-thumb {
    background: #f1cca2; 
}

::-webkit-scrollbar-thumb:hover {
    background: #b99d7d; 
}


.button-save {
    color: black;
    background-color: #f4a45c;
    width: 80px;
    height: 35px;
    border-radius: 0px;
    border: 5px solid black;
    position: absolute;
    top: 20px;
    right: 70px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.button-color {
    color: white;
    background-color: #5e343d;
    width: 80px;
    height: 35px;
    border-radius: 0px;
    border: 5px solid black;
    position: absolute;
    top: 60px;
    right: 70px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.button-color:hover {
    filter: brightness(1.5);
}

.button-save:hover {
    filter: brightness(.8);
}

.featured {
	background-color: #226b5d;
	border: 3px solid white;
	width: calc(100% - 6px);
	margin-bottom: 6px;
	font-weight: bolder;
	height: 40px;
	padding: 0;
	color: white;
	overflow: hidden;
	position: relative;
    user-select: none;
    display: none;
}

.featured p {
	margin: 0;
	line-height: 40px;
	font-size: 13px;
    margin-left: 5px;
	padding: 0;
	white-space: nowrap;
    text-align: left;
    animation: slideText 2s linear infinite alternate; 
}

.featured-button-exit {
    position: absolute;
    right: 3px;
    background-color: #302c2d;
    height: 40px;
    width: 40px;
    line-height: 100%;
    color: white;
    font-weight: bolder;
    top: 103px;
    padding: 0;
    display: none;
}

.featured-button-exit:hover {
    filter: brightness(.8);
    cursor: pointer;
}

.featured:hover {
    filter: brightness(.8);
    cursor: pointer;
}


@keyframes slideText {
    0% {
        margin-left: 0%;
    }
    100% {
        margin-left: calc(100% - 40px - 320px);
    }
}



@media (min-width: 600px) {
    .featured p {
        animation: scrollText 25s linear infinite; 
        position: absolute;
        line-height: 30px;
        font-size: 15px;
    }
    .featured {
        width: 98%;
        margin-left: calc(1% - 3px);
        height: 30px;
    }

    .featured-button-exit {
        height: 30px;
        width: 30px;
        right: 1%;
    }

    @keyframes scrollText {
        0% {
            margin-left: -16%;
        }
        100% {
            margin-left: 100%;
        }
    }
}

#bookreader {
    position: fixed;
    height: 600px;
    width: 400px;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#header {
    background-image: url("../ASSETS/book_header.png");
    background-size: 100% 100%;
    height: 75px;
    padding: 20px;
    display: flex;
}
#info {
    color: white;
    width: 67%;
    height: 100%;
    font-size: 20px;
}
#title {
    width: 100%;
    height: 50%;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 26px;
}
#author {
    width: 100%;
    height: 50%;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-style: italic;
    color: gray;
}
#menu {
    width: 33%;
    height: 100% - 25px;
    display: flex;
    align-items: center;
}
#content {
    background-image: url('../ASSETS/book_reader.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 480px;
    width: 100%;
}
#index {
    width: 100% - 50px;
    height: 30px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    padding-top: 40px;
}
#text {
    width: 100% - 60px;
    height: 290px;
    font-size: 22px;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 0;
    line-height: 1;
    white-space: pre-line;
}
#navigation {
    width: 100% - 50px;
    height: 80px;
    display: grid;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}
.navigate {
    background-image: url("../ASSETS/page_forward.png");
    width: 70px;
    height: 40px;
    background-size: contain;
    right: 50px;
    position: absolute;
}
.navigate:hover {
    filter: saturate(50) hue-rotate(310deg);
    cursor: pointer;
}
#back {
    transform: scaleX(-1);
    justify-content: flex-end;
    left: 50px;
}
.icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
}
.icon:hover {
    cursor: pointer;
}
#save {
    background-image: url("../ASSETS/saved.png");
}
#exit {
    background-image: url("../ASSETS/exit_button.png");
}